body {
  display: grid;
  width: 90%;
  height: 250px;
  grid-template-areas:
    "header header"
    "nav nav"
    "article div"
    "footer footer";
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.header_1 {
  grid-area: header;
  border: solid green;
  margin-bottom: 1px;
  height: 40px;
}

nav {
  grid-area: nav;
  border: solid pink;
  margin: 1px;
  height: 30px;
}

.article1 {
  display: grid;
  border: solid blue;
  margin: 1px;
  height: 300px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "article"
    "header"
    "section1"
    "section2"
    "footer";
}

.header_2 {
  grid-area: header;
  border: solid green;
  margin: 1px;
  padding: 2px;
  height: 20px;
  align-self: top;
  justify-self: top;
}

.section1 {
  grid-area: section1;
  border: solid purple;
  margin: 1px;
  padding: 2px;
  justify-self: stretch;
  align-self: stretch;
}

.section2 {
  grid-area: section2;
  border: solid purple;
  margin: 1px;
  padding: 2px;
  justify-self: stretch;
  align-self: stretch;
}

.footer_1 {
  grid-area: footer;
  border: solid yellow;
  margin: 1px;
  padding: 2px;
  align-self: end;
}

div {
  grid-area: div;
  border: solid orange;
  margin: 1px;
}

.aside1 {
  grid-area: div;
  border: solid lightblue;
  margin: 1px;
  height: 100px;
  padding: 2px;
}

.aside2 {
  grid-area: div;
  border: solid lightblue;
  margin: 1px;
  height: 100px;
  padding: 2px;
}

.footer_2 {
  grid-area: footer;
  border: solid yellow;
  margin: 1px;
}
