.lista :last-child {
  background-color: blue;
}

.lista :nth-child(odd) {
  text-decoration: underline green;
}

.lista li {
  display: inline-block;
  padding: 10px;
}

.lista li::after {
  content: "🔥";
}

li:lang(en) {
  font-size: 30px;
  text-transform: uppercase;
}

#provincias li {
  list-style-type: upper-roman;
}

#provincias li:nth-child(2) {
  list-style-type: none;
}
