body {
  height: 400px;
  width: 500px;
}
header {
  text-align: center;
  border: solid black;
  margin-bottom: 3px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

div {
  text-align: center;
  border: solid black;
  height: 100%;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
}

.boot {
  grid-column-start: 1;
  grid-column-end: 6;
  text-align: left;
}

.repaso {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 5;
}

.descanso {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
}

.front {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
}
