fieldset {
  max-width: 800px;
  min-width: 400px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

label :required {
  border: solid red;
}

fieldset {
  background-color: lightgray;
  padding: 1rem;
}

fieldset :hover {
  background-color: gray;
}

fieldset:first-child {
  border-bottom: solid 5px black;
}

fieldset:last-child {
  border-bottom: solid 5px black;
}

#submit {
  background-color: black;
  color: white;
  border: none;
}
